<section class="tab details" data-group="primary" data-tab="details">
    <h3 class="actor-title-header">{{localize "op.ThreatCharacteristics"}}</h3>
    {{editor system.temporary.characteristics target="system.temporary.characteristics" button=true owner=owner editable=editable}}

    <h3 class="actor-title-header">{{localize "op.ThreatDescription"}}</h3>
    {{editor system.details.description target="system.details.description" button=true owner=owner editable=editable}}

    <h3 class="actor-title-header">{{localize "op.ThreatFearRiddle"}}</h3>
    {{editor system.details.fearRiddle target="system.details.fearRiddle" button=true owner=owner editable=editable}}
</section>